* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
h2{
    text-align: center;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 400px;
    background-color: #11a0a3;
    border-radius: 8px;
    overflow: hidden;
}
.display{
    background-color: lightgray;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
.display-history{
    opacity: 0.4;
    font-size: 20px;
}
.temp-result{
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 20px;
    opacity: 0.4;
}
.all_button{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.btn-0{
    grid-column: 1/3;
}
.button{
    border: 0.5px solid #4c6c7254;
    display: inline-block;
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.button:hover{
    background-color: #0a939e;
}
.operation, .all-clear, .last-entity-clear, .equal{
    background-color: #09898c;
}
